<html>
<head>
    <title>Bobby: Problems, made simple.</title>

    <link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/bobby.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="outerContainer">
    <div class="container">

        <header>
            <a href="/" class="bobby">
                <h1>Bobby</h1>
            </a>

            <h2>Looks like there is nothing here...</h2>
        </header>

    </div>
</div>


<div class="container">



    <footer>
        <p>Built by Bilawal Hameed, Alejandro Saucedo and Anton Smyrnov at Facebook Hackathon.</p>
    </footer>

</div>

<div id="fb-root"></div>


<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<script type="text/javascript" src="/static/js/auth.js"></script>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>

<script type="text/javascript" src="/static/js/bobby.js"></script>


</body>
</html>